<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>myMvc</servlet-name>
  </servlet>
</web-app>
<!--<web-app>-->
  <!--<display-name>Archetype Created Web Application</display-name>-->

  <!--<servlet>-->
    <!--<servlet-name>mymvc</servlet-name>-->
    <!--<servlet-class>com.king.framework.servlet.MyDispatcherServlet</servlet-class>-->
    <!--<init-param>-->
      <!--<param-name>contextConfigLocation</param-name>-->
      <!--<param-value>application.properties</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>mymvc </servlet-name>-->
    <!--<url-pattern>*.json</url-pattern>-->
  <!--</servlet-mapping>-->
<!--</web-app>-->
